<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.knight.jone.mySuperDemo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogTutorial.DialogActivity"
            android:theme="@style/MyDialog" />
        <activity android:name=".dialogTutorial.DialogMainActivity"></activity>
        <activity android:name=".simpleTest.CockroachActivity"></activity>
        <activity android:name=".netRequest.VolleyTutorial"></activity>
        <activity android:name=".netRequest.RetrofitTutorial"></activity>
        <activity android:name=".hotUpdata.ClassLoaderActivity"></activity>
        <activity android:name=".netRequest.OkhttpCacheTest"></activity>
        <activity android:name=".mvp.LoginActivity" />
        <activity android:name=".mvpMy.DoubanActivity"></activity>
    </application>

</manifest>